<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Invoice</h1>
    <table border="1" style="margin-top: 2vh; margin-bottom: 2vh;">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each = "eachItem: ${filledAddress}">
                <td data-th-text = "${eachItem.name}"></td>
                <td data-th-text = "${eachItem.address}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>